<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
   <context-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
   </context-param>
   <context-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
   </context-param>
   <context-param>
      <param-name>password</param-name>
      <param-value>newpwrd</param-value>
   </context-param>
   <servlet>
   <servlet-name>firstServlet</servlet-name>
   <servlet-class>ServletOne</servlet-class>   
   </servlet>
   
   <servlet>
   <servlet-name>secondServlet</servlet-name>
   <servlet-class>ServletTwo</servlet-class>   
   </servlet>
   
   <servlet>
   <servlet-name>thirdServlet</servlet-name>
   <servlet-class>ServletThree</servlet-class>   
   </servlet>
   <servlet-mapping>
      <servlet-name>firstServlet</servlet-name>
      <url-pattern>/firstServlet</url-pattern>
   </servlet-mapping>
    
   <servlet-mapping>
      <servlet-name>secondServlet</servlet-name>
      <url-pattern>/secondServlet</url-pattern>
   </servlet-mapping>
  
   <servlet-mapping>
      <servlet-name>thirdServlet</servlet-name>
      <url-pattern>/thirdServlet</url-pattern>
   </servlet-mapping>
  
  
</web-app>