<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  -->
                
                
         <beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
                
             <bean id="cache1" class="com.firstapp.Cache">
              <property name="typeofCache"  value="firstlevelcache"></property>
              <property name="cacheClass" value="EHRegionCache"></property>
              <property name="noOfConnections" value="10"></property>
             </bean>
             
             <context:annotation-config></context:annotation-config>
             
              <bean id="databaseConnection" class="com.firstapp.DatabaseConfig">
              <property name="url"   value="jdbc://mysql:localhost:3306/abc"></property>
              <property  name="username" value="root"></property>
              <property name="password" value="pass1234"></property>
              <property name="dialect"  value="MysqlDialect"></property>
            </bean>
    </beans>